// could be usefull
//.hidden { display: none !important; visibility: hidden; }
.invisible { visibility: hidden; }
.fleft { float:left; }
.fright { float:right; }
.upper { text-transform:uppercase; }
.bold { font-weight:bold; }
.aleft { text-align:left; }
.aright { text-align:right; }
.acenter { text-align:center; }
.unselectable { 
     -webkit-user-select:none;
        -moz-user-select:none;
         -ms-user-select:none;
             user-select:none;
}
.line { @include clearfix(); }

.margin-top-20 { margin-top: 20px; }
.margin-top { margin-top: 5px; }
